<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global_login.css" />
    <link rel="stylesheet" href="./login.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="div">
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="group-item"></div>
      </div>
      <div class="ssgnack-wrapper">
        <b class="ssgnack">SSGNACK</b>
      </div>
      <div class="rectangle-group">
        <div class="group-inner"></div>
        <b class="b">로그인</b>
      </div>
      <div class="rectangle-container">
        <div class="group-inner"></div>
        <b class="b" id="signupButton">회원가입하기</b>
      </div>
      <b class="emall">Emall을 입력하세요</b>
      <b class="pw">PW를 입력하세요</b>
    </div>
    <script>
      document.getElementById("signupButton").addEventListener("click", function() {
        window.location.href = "signup.html";
      });
    </script>
  </body>
</html>
