<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/product/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="div">
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <b class="ssgnack">SSGNACK</b>
        <b class="admin">Admin님 접속을 환영합니다.</b>
        <div class="group-item"></div>
        <b class="default">상품 조회(default)</b>
        <div class="rectangle-group">
          <div class="group-inner"></div>
          <b class="b">회원가입/로그인</b>
        </div>
        <div class="rectangle-container">
          <div class="rectangle-div"></div>
          <b class="b1">상품 삭제</b>
        </div>
        <div class="group-div">
          <div class="rectangle-div"></div>
          <b class="b1">상품 수정</b>
        </div>
        <div class="rectangle-parent1">
          <div class="rectangle-div"></div>
          <b class="b1">상품 등록</b>
        </div>
        <div class="rectangle-parent2">
          <div class="group-child3"></div>
          <b class="b1">상품 검색</b>
        </div>
        <div class="rectangle-parent3">
          <div class="group-child4"></div>
          <b class="b5">🔍</b>
        </div>
      </div>
      <div class="navigation-drawer-wrapper">
        <div class="navigation-drawer">
          <div class="top-wrapper">
            <div class="top">
              <div class="frame-parent">
                <div class="vector-parent">
                  <img class="vector-icon" th:src="@{/img/public/vector.svg}" alt=""/>

                  <div class="menu">MENU</div>
                </div>
                <div class="productmanage">
                  <div class="component-2variant3">
                    <div class="nav-item">
                      <div class="productmanage">
                        <div class="left">
                          <img
                            class="administration-1-icon"
                            th:src="|@{/img/public/administration-1@2x.png}|" alt=""
                          />

                          <div class="promotion">재고 관리</div>
                        </div>
                      </div>
                      <img
                        class="arrow-chevron-down-icon"
                        th:src="@{/img/public/arrowchevrondown.svg}" alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="productmanage">
                  <div class="component-2variant3">
                    <div class="nav-item">
                      <div class="productmanage">
                        <div class="left">
                          <img
                            class="administration-1-icon"
                            th:src="|@{/img/public/promotion-1@2x.png}|" alt=""
                          />

                          <div class="promotion">제품 관리</div>
                        </div>
                      </div>
                      <img
                        class="arrow-chevron-down-icon"
                        th:src="|@{/img/public/arrowchevrondown.svg}|" alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="productmanage">
                  <div class="component-2variant3">
                    <div class="nav-item">
                      <div class="productmanage">
                        <div class="left">
                          <img
                            class="administration-1-icon"
                            th:src="|@{/img/public/customerloyalty-1@2x.png}|" alt=""
                          />

                          <div class="promotion">입고</div>
                        </div>
                      </div>
                      <img
                        class="arrow-chevron-down-icon"
                        th:src="|@{/img/public/arrowchevrondown.svg}|" alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="productmanage">
                  <div class="component-2variant3">
                    <div class="nav-item">
                      <div class="productmanage">
                        <div class="left">
                          <img
                            class="administration-1-icon"
                            th:src="|@{/img/public/productmanagement-1@2x.png}|" alt=""
                          />

                          <div class="promotion">출고</div>
                        </div>
                      </div>
                      <img
                        class="arrow-chevron-down-icon"
                        th:src="@{/img/public/arrowchevrondown.svg}" alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="orders">
                  <div class="ordersvariant1">
                    <div class="productmanage">
                      <div class="component-2variant3">
                        <div class="nav-item">
                          <div class="productmanage">
                            <div class="left">
                              <img
                                class="administration-1-icon"
                                th:src="|@{/img/public/order-2@2x.png}|" alt=""
                              />

                              <div class="promotion">Orders</div>
                            </div>
                          </div>
                          <img
                            class="arrow-chevron-down-icon"
                            th:src="|@{/img/public/arrowchevrondown.svg}|" alt=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
