.group-child,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-aliceblue);
  width: 1280px;
  height: 832px;
}
.group-item {
  top: 90px;
  left: 78px;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  width: 1124px;
  height: 652px;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 832px;
}
.ssgnack,
.ssgnack-wrapper {
  position: absolute;
  width: 204.3px;
  height: 56.2px;
}
.ssgnack {
  top: 0;
  left: 0;
  display: inline-block;
}
.ssgnack-wrapper {
  top: 10.1px;
  left: 39px;
  text-align: left;
  font-size: var(--font-size-21xl);
}
.b,
.group-inner {
  position: absolute;
  left: 0;
  width: 189px;
}
.group-inner {
  top: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-7xs);
  background-color: var(--color-cornflowerblue);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  height: 41px;
}
.b {
  top: 6px;
  display: inline-block;
  height: 35px;
}
.emall,
.pw,
.rectangle-container,
.rectangle-group {
  position: absolute;
  top: 471px;
  left: 545px;
  width: 189px;
  height: 41px;
}
.emall,
.pw,
.rectangle-container {
  top: 538px;
}
.emall,
.pw {
  top: 294px;
  left: 441px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 379px;
  height: 50px;
}
.pw {
  top: 366px;
}
.div {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 832px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
