<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/global_main.css" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto Sans KR:wght@400&display=swap" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <div class="div">
        <div class="rectangle-parent">
            <div class="frame-child"></div>
            <b class="b">전체 매출 현황</b>
            <div class="chart-container">
                <canvas id="salesChart"></canvas>
            </div>
        </div>
        <div class="ssgnack-parent">
            <b class="ssgnack">
                <a href="/main" style="text-decoration-line: none; color: black">SSGNACK</a>
            </b>
            <b class="admin">Admin님 접속을 환영합니다.</b>
            <div class="navigation-drawer-wrapper">
                <div class="navigation-drawer">
                    <div class="top-wrapper">
                        <div class="top">
                            <div class="frame-parent">
                                <div class="vector-parent">
                                    <img class="vector-icon" alt="" src="/main_img/vector.svg" />
                                    <div class="menu" id="mainButton">
                                        <a href="/main" style="text-decoration-line: none; color: white">MENU</a>
                                    </div>
                                </div>
                                <div class="productmanage">
                                    <div class="component-2variant3">
                                        <div class="nav-item">
                                            <div class="productmanage">
                                                <div class="left">
                                                    <img class="administration-1-icon" alt="" src="/main_img/administration-1@2x.png" />
                                                    <div class="promotion">
                                                        <a href="/stock/list" style="text-decoration-line: none; color: white">재고 관리</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <img class="arrow-chevron-down-icon" alt="" src="/main_img/arrowchevrondown.svg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="productmanage">
                                    <div class="component-2variant3">
                                        <div class="nav-item">
                                            <div class="productmanage">
                                                <div class="left">
                                                    <img class="administration-1-icon" alt="" src="/main_img/promotion-1@2x.png" />
                                                    <a href="/product/main" class="promotion" style="text-decoration-line: none; color: white">제품 관리</a>
                                                </div>
                                            </div>
                                            <img class="arrow-chevron-down-icon" alt="" src="/main_img/arrowchevrondown.svg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="productmanage">
                                    <div class="component-2variant3">
                                        <div class="nav-item">
                                            <div class="productmanage">
                                                <div class="left">
                                                    <img class="administration-1-icon" alt="" src="/main_img/customerloyalty-1@2x.png" />
                                                    <div class="promotion">
                                                        <a href="/stock/inbound" style="text-decoration-line: none; color: white">입고</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <img class="arrow-chevron-down-icon" alt="" src="/main_img/arrowchevrondown.svg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="productmanage">
                                    <div class="component-2variant3">
                                        <div class="nav-item">
                                            <div class="productmanage">
                                                <div class="left">
                                                    <img class="administration-1-icon" alt="" src="/main_img/productmanagement-1@2x.png" />
                                                    <div class="promotion">
                                                        출고
                                                    </div>
                                                </div>
                                            </div>
                                            <img class="arrow-chevron-down-icon" alt="" src="/main_img/arrowchevrondown.svg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="orders">
                                    <div class="ordersvariant1">
                                        <div class="productmanage">
                                            <div class="component-2variant3">
                                                <div class="nav-item">
                                                    <div class="productmanage">
                                                        <div class="left">
                                                            <img class="administration-1-icon" alt="" src="/main_img/order-2@2x.png" />
                                                            <div class="promotion">Orders</div>
                                                        </div>
                                                    </div>
                                                    <img class="arrow-chevron-down-icon" alt="" src="/main_img/arrowchevrondown.svg" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rectangle-group">
                <div class="group-child"></div>
                <a class="b1" th:href="@{../admin/login}" style="text-decoration-line:none; color: black">로그아웃</a>
            </div>
        </div>
        <div class="buttons-parent">
            <div class="buttons">
                <img class="icon-lineexternal-link" alt="" src="/main_img/icon-lineexternal-link.svg" />
                <a th:href="@{/report/productGraph}" class="button" id="productgraphButton" style="text-decoration-line:none; color: white; font-weight: bold">상품별 매출</a>
            </div>
            <img class="package-icon" alt="" src="/main_img/package.svg" />
        </div>
        <div class="buttons-group">
            <div class="buttons">
                <img class="icon-lineexternal-link" alt="" src="/main_img/icon-lineexternal-link.svg" />
                <a th:href="@{/report/brandGraph}" class="button" id="brandgraphButton" style="text-decoration-line:none; color: white; font-weight: bold">브랜드별 매출</a>
            </div>
            <div class="buttons-wrapper">
                <div class="buttons">
                    <img class="icon-lineexternal-link" alt="" src="/main_img/icon-lineexternal-link.svg" />
                    <a th:href="@{/report/monthlyGraph}" class="button" id="monthlygraphButton" style="text-decoration-line:none; color: white; font-weight: bold">기간별 매출</a>
                </div>
            </div>
        </div>
        <img class="chart-icon" alt="" src="/main_img/chart.svg" />
        <img class="date-today-icon" alt="" src="/main_img/date-today.svg" />
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:inline="javascript">

            $.ajax({
                url: "/totalSales",
                type: "get",
                data: {},
                success: function (data) {
                    console.log(data);

                    var ctx = document.getElementById('salesChart').getContext('2d');
                    var salesChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.totalMonth,
                            datasets: [
                                {
                                    label: '매출(단위:원)',
                                    data: data.totalsale,
                                    borderColor: 'rgba(54, 162, 235, 1)',
                                    borderWidth: 1,
                                    fill: false
                                },
                                {
                                    label: '순이익(단위:원)',
                                    data: data.totalIncome,
                                    borderColor: 'rgba(255, 159, 64, 1)',
                                    borderWidth: 1,
                                    fill: false
                                },
                            ]
                        },
                        options: {
                            responsive: true,
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                },
                error: function (error) {
                    console.log(error);
                }
        });

    </script>
</body>
</html>
