<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global_login.css" />
    <link rel="stylesheet" href="./signup.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="div1">
      <div class="group-div">
        <div class="group-child1"></div>
        <div class="group-child2"></div>
      </div>
      <div class="ssgnack-container">
        <b class="ssgnack1">SSGNACK</b>
      </div>
      <div class="rectangle-parent1">
        <div class="group-child3"></div>
        <b class="b2">회원가입</b>
      </div>
      <b class="emall1">Emall을 입력하세요</b>
      <b class="pw1">PW를 입력하세요</b>
    </div>
  </body>
</html>
