body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --base-1-semibold: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --base-1-semibold-size: 15px;
  --font-size-lg-7: 18.7px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-royalblue: #547aff;
  --color-whitesmoke: #f5f4f5;
  --color-black: #000;
  --color-cornflowerblue: #378ce7;
  --color-gray: rgba(0, 0, 0, 0.2);
  --color-aliceblue: #dff5ff;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-xs: 12px;
  --gap-7xs: 6px;
  --gap-4xs: 9px;

  /* Paddings */
  --padding-7xl: 26px;
  --padding-5xl: 24px;
  --padding-20xl: 39px;
  --padding-7xs: 6px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-7xl: 26px;
  --br-8xl: 27px;
  --br-5xs: 8px;
  --br-7xs: 6px;
}
