<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="../../static/inboundStock/css/globalIncoundStock.css" />
    <link rel="stylesheet" href="../../static/inboundStock/css/inbound.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap"
    />
  </head>
  <body>
    <div class="div1">
      <div class="rectangle-parent1">
        <div class="group-child2"></div>
        <b class="ssgnack1">SSGNACK</b>
        <b class="admin1">Admin님 접속을 환영합니다.</b>
        <div class="group-child3"></div>
        <div class="rectangle-parent2">
          <div class="group-child4"></div>
          <b class="b3">로그아웃</b>
        </div>
        <div class="rectangle-wrapper">
          <div class="group-child5"></div>
        </div>
      </div>
      <div class="navigation-drawer-container">
        <div class="navigation-drawer1">
          <div class="top-container">
            <div class="top1">
              <div class="frame-group">
                <div class="vector-group">
                  <img class="vector-icon1" alt="" src="./public/vector.svg" />

                  <div class="menu1">MENU</div>
                </div>
                <div class="productmanage1">
                  <div class="component-2variant35">
                    <div class="nav-item5">
                      <div class="productmanage1">
                        <div class="left5">
                          <img
                            class="administration-1-icon1"
                            alt=""
                            src="./public/administration-1@2x.png"
                          />

                          <div class="promotion6">재고 관리</div>
                        </div>
                      </div>
                      <img
                        class="arrow-chevron-down-icon5"
                        alt=""
                        src="./public/arrowchevrondown.svg"
                      />
                    </div>
                  </div>
                </div>
                <div class="productmanage1">
                  <div class="component-2variant35">
                    <div class="nav-item5">
                      <div class="productmanage1">
                        <div class="left5">
                          <img
                            class="administration-1-icon1"
                            alt=""
                            src="./public/promotion-1@2x.png"
                          />

                          <div class="promotion6">제품 관리</div>
                        </div>
                      </div>
                      <img
                        class="arrow-chevron-down-icon5"
                        alt=""
                        src="./public/arrowchevrondown.svg"
                      />
                    </div>
                  </div>
                </div>
                <div class="productmanage1">
                  <div class="component-2variant35">
                    <div class="nav-item5">
                      <div class="productmanage1">
                        <div class="left5">
                          <img
                            class="administration-1-icon1"
                            alt=""
                            src="./public/customerloyalty-1@2x.png"
                          />

                          <div class="promotion6">입고</div>
                        </div>
                      </div>
                      <img
                        class="arrow-chevron-down-icon5"
                        alt=""
                        src="./public/arrowchevrondown.svg"
                      />
                    </div>
                  </div>
                </div>
                <div class="productmanage1">
                  <div class="component-2variant35">
                    <div class="nav-item5">
                      <div class="productmanage1">
                        <div class="left5">
                          <img
                            class="administration-1-icon1"
                            alt=""
                            src="./public/productmanagement-1@2x.png"
                          />

                          <div class="promotion6">출고</div>
                        </div>
                      </div>
                      <img
                        class="arrow-chevron-down-icon5"
                        alt=""
                        src="./public/arrowchevrondown.svg"
                      />
                    </div>
                  </div>
                </div>
                <div class="orders2">
                  <div class="ordersvariant11">
                    <div class="productmanage1">
                      <div class="component-2variant35">
                        <div class="nav-item5">
                          <div class="productmanage1">
                            <div class="left5">
                              <img
                                class="administration-1-icon1"
                                alt=""
                                src="./public/order-2@2x.png"
                              />

                              <div class="promotion6">Orders</div>
                            </div>
                          </div>
                          <img
                            class="arrow-chevron-down-icon5"
                            alt=""
                            src="./public/arrowchevrondown.svg"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <b class="b4">입고 처리</b>
      <b class="id">상품 ID : </b>
      <div class="child"></div>
      <b class="b5">수량 : </b>
      <div class="item"></div>
    </div>
  </body>
</html>
